<div class="container-xl">  
  <div class="d-flex flex-column justify-content-center align-items-center m-5 border py-5">

    <div class="media p-5">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="mr-3 user-img" alt="user-img">
      <div class="media-body">
        <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        <p><strong>Dane faktury:</strong></p>  

        <div class="card">
          <h5 class="card-header"># <%= @client.id%></h5>
          <div class="card-body">
            <p class="card-text">Miejsce wystawienia: <%= @invoice.place_of_issue%></p>
            <p class="card-text">Data wystawienia: <%= @invoice.date_of_issue %></p>
            <p class="card-text">Data płatności: <%= @invoice.date_of_payment %></p>
            <p class="card-text">Nazwa towaru: <%= @invoice.product_name %></p>
            <p class="card-text">Jm: <%= @invoice.unit %></p>
            <p class="card-text">Cena netto: <%= @invoice.net_price %></p>
            <p class="card-text">Wartość netto: <%= @invoice.net_value %></p>
            <p class="card-text">VAT: <%= @invoice.vat_rate %></p>
            <p class="card-text">Kwota VAT: <%= @invoice.amount_of_vat %></p>
            <p class="card-text">Wartość brutto: <%= @invoice.gross_value %></p>
            <p class="card-text">Ilość: <%= @invoice.quantity %></p>
            
            <div class="d-flex justify-content-end">
              <%= link_to 'Edytuj', edit_user_invoice_path(@user, @invoice), class: 'btn btn-primary btn-sm ml-1' %>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <%= link_to 'Powrót', user_invoices_path(@user), class: 'btn btn-success btn-sm ml-1' %>
        </div>
    </div>
  </div>
  