<h1>Edycja Użytkownika:</h1>

<%= form_with model: @user do |f| %>
  <div>
   <%= f.label :first_name, 'Imię' %>
   <%= f.text_field :first_name %>
  </div>

  <div>
   <%= f.label :last_name, 'Nazwisko' %>
   <%= f.text_field :last_name %>
  </div>

  <div>
   <%= f.label :email, 'Email' %>
   <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password_digest, 'Hasło' %>
    <%= f.text_field :password_digest %>
  </div>

  <div>
    <%= f.submit 'Zapisz' %>
  </div>
<% end %>
