<div class="container-xl">  
  <div class="d-flex flex-column justify-content-center align-items-center m-5 border py-5">

    <div class="media p-5">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="mr-3 user-img" alt="user-img">
      <div class="media-body">
        <h5 class="mt-0"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p>Email: <%= @user.email%></p>
        <%= link_to 'Faktury', user_invoices_path(@user), class: 'btn btn-success btn-sm ml-1' %>
        <%= link_to 'Klienci', user_clients_path(@user), class: 'btn btn-primary' %>  <%= link_to 'Nowa faktura', new_user_invoice_path(@user), class: 'btn btn-primary mr-1' %>
        <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        <p><strong>Adres:</strong></p>  

        <div class="card">
          <% @user.addresses.each do |address| %>
            <h5 class="card-header"># <%= address.id%></h5>
            <div class="card-body">
              <p class="card-text">Ulica: <%= address.street %></p>
              <p class="card-text">Numer domu/lokalu: <%= address.state %></p>
              <p class="card-text">Kod pocztowy: <%= address.postal_code %></p>
              <p class="card-text">Miasto: <%= address.city %></p>
              <p class="card-text">Kraj: <%= address.country %></p>
              
              <div class="d-flex justify-content-end">
                <%= link_to 'Edytuj adres', edit_user_address_path(@user, address), class: 'btn btn-primary mr-1' %>
                <%= button_to "Usuń", user_address_path(@user, address), method: :delete, class: 'btn btn-danger' %>
              </div>
            </div>
          <% end %>
        </div>

        <p class="mt-3"><strong>Dane firmy:</strong></p> 

        <div class="card">
          <h5 class="card-header"># <%= @presenter.company&.id %></h5>
          <div class="card-body">
            <p class="card-text">Nazwa firmy: <%= @presenter.company&.company_name %></p>
            <p class="card-text">Imię właściciela: <%= @presenter.company&.owner_name %></p>
            <p class="card-text">Nazwisko właściciela: <%= @presenter.company&.owner_last_name %></p>
            <p class="card-text">Ulica: <%= @presenter.company&.street %></p>
            <p class="card-text">Kod pocztowy: <%= @presenter.company&.postal_code %></p>
            <p class="card-text">Miasto: <%= @presenter.company&.city %></p>
            <p class="card-text">Województwo: <%= @presenter.company&.province %></p>
            <p class="card-text">Kraj: <%= @presenter.company&.country %></p>
            <p class="card-text">NIP: <%= @presenter.company&.tax_number %></p>
            <p class="card-text">REGON: <%= @presenter.company&.regon %></p>
            <p class="card-text">Numer telefonu: <%= @presenter.company&.phone_number %></p>
            
            <div class="d-flex justify-content-end">
              <% if company_present? %>
                <%= link_to 'Edytuj dane firmy', edit_user_company_path(@user, @user.company), class: 'btn btn-primary mr-1' %>
                <%= button_to "Usuń", user_company_path(@user, @user.company), method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'Uzupełnij dane firmy', new_user_company_path(@user), class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <%= link_to 'Dodaj adres', new_user_address_path(@user), class: 'btn btn-primary' %>
          <% if !company_present? %>
            <%= link_to 'Dodaj dane firmy', new_user_company_path(@user), class: 'btn btn-primary' %>
          <% end %>
          <%= link_to 'Powrót', users_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  