<div class="container-xl">  
  <div class="d-flex flex-column justify-content-center align-items-center m-5 border py-5">
    <h2>Nowy adres:</h2>

    <div class='mt-3'>
      <%= form_with(model: @address, url: user_addresses_path(@user)) do |f| %>
        <%= f.fields_for :address do |ff| %>
          <div class="form-group">
            <%= ff.label :street, 'Ulica' %>
            <%= ff.text_field :street, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= ff.label :state, 'Numer domu/lokalu' %>
            <%= ff.text_field :state, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= ff.label :postal_code, 'Kod pocztowy' %>
            <%= ff.text_field :postal_code, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= ff.label :city, 'Miasto' %>
            <%= ff.text_field :city, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= ff.label :country, 'Kraj' %>
            <%= ff.text_field :country, class: 'form-control' %>
          </div>
          
          <%= f.submit 'Zapisz', class: 'btn btn-primary' %>
          <%= link_to 'Powrót', user_path(@user), class: 'btn btn-secondary ml-1' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
