<h1>Nowy Adres:</h1>

<%= form_with(model: @address, url: user_addresses_path(@user)) do |f| %>
  <%= f.fields_for :address do |ff| %>
    <div>
      <%= ff.label :street, 'Ulica' %><br>
      <%= ff.text_field :street %>
    </div>

    <div>
      <%= ff.label :city, 'Miasto' %><br>
      <%= ff.text_field :city %>
    </div>

    <div>
      <%= ff.label :state, 'Numer domu' %><br>
      <%= ff.text_field :state %>
    </div>

    <div>
      <%= ff.label :country, 'Kraj' %><br>
      <%= ff.text_field :country %>
    </div>

    <div>
      <%= ff.label :postal_code, 'Kod pocztowy' %><br>
      <%= ff.text_field :postal_code %>
    </div>
  <% end %>

  <div>
    <%= f.submit 'Zapisz' %>
  </div>
<% end %>
